version: "3.8"

services:
  kestra:
    image: kestra/kestra:latest
    pull_policy: always
    container_name: kestra
    ports:
      - "8080:8080"
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
    command: server local
    stdin_open: true
    tty: true
    restart: unless-stopped
